<br/>
<div class="row">
  <div class="col-lg-10  col-lg-offset-1">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <b> Menú Generar Estadísticas
              </div>
         <div class="panel-body">

                <br/><br/>
            
		      <div class="row ">
			 <div class="col-lg-6 col-lg-offset-3 ">
	            <%= link_to bienvenido_portal_path do %> 
	            	<button type="button" class="btn btn-info btn-lg btn-block" ><b>1</b></button>
	            <% end %><br/>
	            <%= link_to bienvenido_portal_path do %> 
					<button type="button" class="btn btn-info btn-lg btn-block"><b>2</b></button>
				<% end %><br/>
				<%= link_to bienvenido_portal_path do %> 
					<button type="button" class="btn btn-info btn-lg btn-block"><b>3</b></button>
				<% end %><br/>
				<%= link_to bienvenido_portal_path do %> 
					<button type="button" class="btn btn-info btn-lg btn-block"><b>4</b></button>
				<% end %>
			</div>
			</div>	
			<br/><br/>
			
   </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  -->  