
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 ">
      <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <b>Portal de usuario</b></h3>
              </div>
         <div class="panel-body">

          <br/>
          <div class="row">

                  <div class="col-lg-5 col-lg-offset-4">
                      <h1> Bienvenido</h1>
                        <h2> <p class="text-uppercase"> <b><%= current_user.nombre1 %> &nbsp; <%= current_user.apellido1%> </b>    </p></h2>
                  </div>  
            </div>


            
          </div><!-- panel-body  -->
      </div><!-- panel panel-primary  -->
    </div><!-- col-lg-12  -->
  </div>   <!-- row  --> 
  <br/><br/><br/><br/><br/><br/><br/><br/>